.write-thoughts img {
    display: block;
    margin: auto;
    width: 80px;
    border-radius: 100%;
}

.form-select {
    border-radius: 20px;
}

img {
    display: block;
    margin: auto;
    width: 40px;
    border-radius:20px;
}

h2 {
    font-size: 20px;
}

.underline {
    border-bottom:1px solid rgb(185, 185, 185) ;
}
::placeholder{
    color: black;
}

textarea{
    width: 100%;
    height: 15vh;
    resize: none;
    background: transparent;
    color: black;
    border-color: transparent;
    border-bottom: 1px solid black;
    overflow: hidden;
}

textarea:focus{
    outline: none;
}

.write-thoughts {
    margin: auto;
    width: 50%;
    height: 30vh;
    background-color: white;
    border-radius: 20px;
}

.thoughts {
    margin: auto;
    width: 50%;
    display: block;
    overflow: auto;
    background-color: white;
    border-radius: 20px;

    text-align: justify;
    text-justify: inter-word;
}

.thoughts p {
    text-indent: 50px;
}

.btn {
    width: 30%;
}

#time {
    font-size: 15px;
}